body {
    section {
        padding-top: 20px;
        padding-left: 30px;

        ul {
            list-style-type: none;
            list-style: none;

            li {
                margin-top: 30px;
            }
        }

        header {
            font-weight: bold;
            font-size: 14pt;
        }
    }
    section.intro {
        height: 800px;
        width: 100%;
        background-image: url("../../images/background-portrait.png");
        background-size:cover;
    }
    h2 {
        padding-left: 5px;
        font-weight: 600;
    }
    h3 {
        padding-left: 5px;
        padding-top: 10px;
    }

    ul.nav.nav-tabs {
        li {
            margin-left: 15px;
        }
    }

    section {
        section.row {
            button {
                margin: 10px;
            }
        }
    }

    pre#quoteSpace {
        display: block;
        height: 400px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
        overflow-x: auto;

        /*
        To allow for horizontal text wraps
        */
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}
